.design {
    color: white;
    text-align: center;
}

body {
    background-color: #4680e9;
}

<<<<<<< HEAD
=======
header {

}

>>>>>>> a4d5cf6629f963814b402a036b20ede8e2939b7d
section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .4);
}

<<<<<<< HEAD
#numberSelect {
    width: 150px;
}

#result {

=======
#table {
    width: 150px;
    height: 180px;
    border: 1px solid #000000;
    background-color: #dbdbdb ;
>>>>>>> a4d5cf6629f963814b402a036b20ede8e2939b7d
}

footer {
    font-style: italic;
}

#image {
    width: 500px;
<<<<<<< HEAD
    width: 500px;
=======
>>>>>>> a4d5cf6629f963814b402a036b20ede8e2939b7d
}